button{
    margin: 5px 0 10px 10px;
    
}

h2{
    margin: 10px 0 8px 10px;
}

input{
    background-color: rgb(241, 241, 241);
    padding: 15px;
    width: 230px;
    font-size: 18px;
    color: rgb(73, 73, 73);
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(73, 73, 73);
    margin: 20px 0px 20px 10px;
}

span{
    font-size: 23px;
    font-weight: 500;
    margin-left: 15px;
}




